*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  font-weight: 300;
  line-height: 1.6;
  font-size: 20;  
}

.container {
  width: 60%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 3;
}

.gallery__item--2 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 4;
}

.gallery__item--3 {
  grid-column: 7 / span 2;
  grid-row: 1 / span 4;
}

.gallery__item--4 {
  grid-column: 9 / span 2;
  grid-row: 1 / span 4;
}

.gallery__item--5 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 5;
}

.gallery__item--6 {
  grid-column: 3 / span 2;
  grid-row:  4 / span 5;
}

.gallery__item--7 {
  grid-column: 5 / span 2;
  grid-row: 5 / span 4;
}

.gallery__item--8 {
  grid-column: 7 / span 2;
  grid-row: 5 / span 4;
}

.gallery__item--9 {
  grid-column: 9 / span 2;
  grid-row: 5 / span 4;
}